@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/*base colors*/

$primary-color: #1e64c8;
$secondary-color: rgba(30, 100, 200, 0.1);

$primary-color-1:   #1e64c8;
$secondary-color-1: rgba(30, 100, 200, 0.1);

$primary-color-2:   #1e64c8;
$secondary-color-2: rgba(30, 100, 200, 0.1);

$primary-color-3: rgb(200,30,100);
$secondary-color-3: rgba(200,30,100,0.1);

$footer-color: #c8c8c8;
$text-color: #ffffff;

/*base fonts*/

$font-main: 'PT Sans', sans-serif;

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height:100%;
    position: relative;
    font-family: $font-main;
    font-size: 12px;
    margin: 0;
    
}

main {
    padding-bottom: 80px;
    height: 100%;
    max-width: 1100px;
    min-width: 570px;
    margin: 0 auto;
}

header {
    min-width: 570px;
    background-color: rgb(70,70,70);
    height: 54px;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 570px;
    background-color: $footer-color;
    height: 80px;
}

p {
    font-size: 14px;
}

/*helpers*/

.font-weight-normal {
    font-weight: normal;
}

.float-left {
    float: left;
}

.bgc-primary {
    background-color: $primary-color;
}

.bgc-hover:hover {
    background-color: #78c8f5!important;
    transition: all 200ms ease-in-out;
}

.bgc-footer {
    background-color: $footer-color;
}

.font-color-primary {
    color: $primary-color;
}

.text-aligned {
    text-align: center;
}

.faq-img{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);
    margin-top: 0px;
    margin-bottom: 35px;
}