@import 'base';

.logo {
    margin: 12px 10px 13px 68px;
    display: inline-block;
    vertical-align: top;
}

.logo-image {
    // width: 29px;
    height: 29px;
}

.site-name {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    margin: 16px 16px 16px 0;
    color: $text-color;
}

.home-link {
    text-decoration: none;
    color: $text-color;
    position:relative;
    top:3px;
}

.navigation {
    display: inline-block;
    vertical-align: text-bottom;
    @media only screen and (min-width: 600px) {
        float: right;
    }
    a {
        cursor: pointer;
    }
}

.nav-link {
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: $text-color;
    &-wrapper {
        display: inline-block;
        padding: 18px 0 18px 0;
        margin: 0 27px 0 27px;
        @media only screen and (max-width: 773px) {
            margin: 0 7px 0 7px;
        }
        &:nth-child(3) {
            background: url(/src/assets/img/plus.svg) no-repeat 0 55%;
            background-size: auto 25%;
        }
        &:last-child {
            margin-right: 68px;
            @media only screen and (max-width: 773px) {
                margin-right: 14px;
            }
        }
    }
}

.selected, .nav-link-wrapper:hover {
    border-bottom: solid 3px #ffffff;
}

.pseudo-selected{
    border-bottom: solid 3px rgba(255,255,255,0);
    position: relative;
    color: red;

}





.with-icon {
    padding-left: 20px;
}

