@import 'base';

.info {

    width: 607px;
    height: 315px;
    border-radius: 11px;
    background-color: $secondary-color;
    margin: 122px auto;
    &-key {
        margin: 8px 7px 8px 22px;
        font-size: 14px;
        font-weight: bold;
        width: 156px;
        display: inline-block;
        &:first-child {
            margin-top: 26px;
        }
    }
    &-value {
        display: inline-block;
        width: 301px;
        margin: 0;
        font-size: 14px;
        letter-spacing: -0.7px;
    }
}

.h4-about{
    margin-top: 30px;
}