@import 'base';

.card {
    float: left;
    width: 342px;
    height: 234px;
    cursor: pointer;
    border-radius: 9px;
    background-color: $secondary-color;
    color: black;
    margin: 27px;
    margin-left: 22px;
    margin-right: 22px;

    &:hover {
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
        outline: none;
        text-decoration: none;
        // color: $text-color;
    }

    @media only screen and (max-width: 600px) {
        margin: 14px;
    }
    &-wrapper {
        position: relative;
        overflow: hidden;
        margin: 27px 103px;
        @media only screen and (max-width: 993px) {
            margin: 27px 0;
        }
        &-aligned {
            width: 773px;
            margin: 0 auto;
            @media only screen and (max-width: 773px) {
                width: 386px;
            }
            @media only screen and (max-width: 600px) {
                width: 360px;
                margin: 0 27px;
            }
        }
    }
    &-header {
        height: 54px;
        border-radius: 9px 9px 0 0;
        background-color: $primary-color;
        &-amount {
            font-size: 19px;
            font-weight: bold;
            margin: 17px 15px 15px 20px;
            float: left;
            color: $text-color;
        }
        &-inscription {
            font-size: 14px;
            font-weight: bold;
            margin: 20px 22px 18px 15px;
            float: right;
            color: $text-color;
        }
    }
    &-body {
        margin: 16px 18px 18px 18px;
        position: relative;
    }
    &-key {
        margin: 0;
        font-size: 14px;
        &-inscription {
            text-align: center;
            font-size: 18px;
            margin: 23px 0;
        }
    }
    &-value {
        margin: 3px 0 13px 0;
        font-size: 14px;
        color: $primary-color;
    }
    &-state {
        width: 123px;
    }
    &-button {
        width: 150px;
        height: 39px;
        border-radius: 9px;
        color: $text-color;
        font-size: 14px;
        font-weight: bold;
        border-style: none;
        outline:none;
        cursor: pointer;
        // margin: 0 0 0 20px;
    }
}

.div-lender{
    position: relative;
}


.img-dot {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: -11px;
}

.arrow {
    position: absolute;
    top: 49%;
    width: 20px;
    height: 16px;

    border-style: none;
    background-color: white;
    font-size: 15px;
    color: rgb(56,121,217);


    &-left {
        left: -5px;
        @media only screen and (max-width: 993px) {
            left: 5%;
        }
    }
    &-right {
        right: 0;
        @media only screen and (max-width: 993px) {
            right: 5%;
        }
    }
}


.card.tokens{ background-color: $secondary-color-1; }
.card.ens   { background-color: $secondary-color-2; }
.card.rep   { background-color: $secondary-color-3; }


.card-header.tokens{ background-color: $primary-color-1; }
.card-header.ens   { background-color: $primary-color-2; }
.card-header.rep   { background-color: $primary-color-3; }

.card-value.tokens{ color: $primary-color-1; }
.card-value.ens   { color: $primary-color-2; }
.card-value.rep   { color: $primary-color-3; }